.skincare  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--branco);
    text-align: center;
    background-color: var(--rosa);

    padding-top: 15rem;
    padding-bottom: 1rem;
}

.skincare__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

}

.skincare__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}



@media screen and (min-width: 768px){
    .skincare__texto {
        max-width: 600px;
    }
}
